@font-face {
  font-family: 'iA Quattro';
  src: url('iAWriterQuattroS-Regular.woff2') format('woff2'),
    url('iAWriterQuattroS-Regular.woff') format('woff'),
    url('iAWriterQuattroS-Regular.eot') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iA Quattro';
  src: url('iAWriterQuattroS-Bold.woff2') format('woff2'),
    url('iAWriterQuattroS-Bold.woff') format('woff'),
    url('iAWriterQuattroS-Bold.eot') format('truetype');
  font-weight: bold;
  font-style: normal;
}
