@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url('/inter/Inter-Regular.woff2') format('woff2'),
    url('/inter/Inter-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: regular;
  font-weight: bold;
  src: url('/inter/Inter-Black.woff2') format('woff2'),
    url('/inter/Inter-Black.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'iA Quattro';
  src: url('//2019.hackpenn.com/quattro/iAWriterQuattroS-Regular.woff2') format('woff2'),
    url('//2019.hackpenn.com/quattro/iAWriterQuattroS-Regular.woff') format('woff'),
    url('//2019.hackpenn.com/quattro/iAWriterQuattroS-Regular.eot') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iA Quattro';
  src: url('//2019.hackpenn.com/quattro/iAWriterQuattroS-Bold.woff2') format('woff2'),
    url('//2019.hackpenn.com/quattro/iAWriterQuattroS-Bold.woff') format('woff'),
    url('//2019.hackpenn.com/quattro/iAWriterQuattroS-Bold.eot') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
